

#meetTheTeam, #aboutInfo  {
  padding: 50px;
}

video{
    width:100%;
    /* height: auto; */
    
}

/* hover element for the main page photos. the tinting effect to show responsiveness */
.person:hover {
  opacity: 0.75;
   
}

#vision{
  padding-bottom: 15em;
}

/* google maps */
/* Set the size of the div element that contains the map */
#map {
  height: 700px;
  /* The height is 700 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
/* positioning of navbar top/bottom/underneath */
.navbar{
  z-index: 1;
}
/* spacing for the section under the navbar. 101px as the inspected nav width */
.margin-top-nav{
  margin-top: 101px !important;

}

footer{
  color:white;
  
}
h2{
  padding-top: 35px;
}
h6 {
  text-decoration: underline;
}
h5{
  padding-top: 10px;
}
h4{
  text-decoration: underline;
}

form {
  padding: 25px;
  background-color: #fff;
  border-radius: 8px;
}


/* services section */
.box{
  padding: 15px;
  margin: 5px;
}
/* css for the box size, spacing, shadow effect, text positioning */
.cleaning-services {
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 60px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(46, 46, 51, 0.17)
}

.cleaning-services:hover h5,
/* css changes the color of the text to white from black when you hover and the background changes to the linear gradiant */
.cleaning-services:hover p {
    color: #fff
}
/* linear gradiant effects for */
.services-box:hover {
    background-image: linear-gradient(-45deg, #34b5bf 0%, #1c5b97 100%)
}

#services{
  margin-top: 10px;
}

.vision-container{
  
  border: solid  #347cbf 2px;
  border-radius: 8px;
}

.vision-text{
  margin: auto;
  padding: 20px;
}

.bio-section{
  margin-top: 20px;
  padding: 25px;
  background-color: #fff;
  border-radius: 8px;
}
/* photo on contact page with scrolling photo with custom shading */
.parallax{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url(images/tooth.jpg) ;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.contactFooter{
  color: black;
}

