


video{
    width:100%;
    /* height: auto; */
    
}

/* section {
  width: 100%;
} */

.person:hover {
  opacity: 0.75;
   
}

#vision{
  padding-bottom: 15em;
}

/* google maps */
/* Set the size of the div element that contains the map */
#map {
  height: 700px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}