#meetTheTeam, #aboutInfo  {
  padding: 50px;
}

video{
    width:100%;
    /* height: auto; */
    
}

/* hover element for the main page photos. the tinting effect to show responsiveness */
.person:hover {
  opacity: 0.75;
   
}

#vision{
  padding-bottom: 15em;
}

/* google maps */
/* Set the size of the div element that contains the map */
#map {
  height: 700px;
  /* The height is 700 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
/* positioning of navbar top/bottom/underneath */
.navbar{
  z-index: 1;
}
/* spacing for the section under the navbar. 101px as the inspected nav width */
.margin-top-nav{
  margin-top: 101px !important;

}